*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    background-color: #FF7C28;
    padding: 20px;
    height: 30px;
    width: 100%;
}

.left_area h3 {
    color: #ffff;
    margin: 0;
    text-decoration: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #FAED04;
}

.cart {
    padding: 7px 8px;
    background: #FFBF18;
    text-decoration: none;
    float: right;
    margin-top: -33px;
    margin-right: 40px;
    border-radius: 50px;
    font-size: 15px;
    color: #000000;
    font-weight: 800;
    transition: 0.5s;
    transition-property: background;
}

.cart:hover {
    background: #EBAE0E;
}

.sidebar {
    background-color: #FA6004;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.4s;
    transition-property: left;
}

.sidebar .profil_img {
    width: 100px;
    height: 90px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: rgba(255, 255, 255, 0.575);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: lighter;
}

.sidebar a{
    color: #ffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
    border-top: 1px solid rgba(219, 68, 8, 0.418);
    border-bottom: 1px solid rgb(196, 96, 39);
}
.sidebar a i span{
    padding-left: 16px;
}

.sidebar a:hover {
    background: #c05a1f;
    padding-left: 50px;
}

label #sidebar_btn {
    z-index: 1;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 250px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.4s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: rgb(255, 186, 107);
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

 .content {
     margin-left: 250px;
     background: url(img/sample/photo/orange_door.jpg) no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
     transition: 0.4s;
 }

 .content .started a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }
 .started a{
    width: 250px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
    font-weight: lighter;
    border: 1px solid;
    border-radius: 50px;
    text-decoration: none;
 }
 .content .started a:hover{
    color: rgba(51, 51, 51, 0.993);
    background-color: rgba(95, 65, 10, 0.281);
 }

 #check:checked ~ .content {
     margin-left: 60px;
 }

 #check{
     display: none;
 }
 /* body.darkmode{
    background-color: rgb(57, 57, 57);
    color: rgb(255, 255, 255);
}
#theme{
    cursor: pointer;
    float: right;
}
.is-hidden{
    display: none;
}
#lightBtn, #darkBtn span{
    width: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid;
    border-radius: 30%;
}
body .darkmode .started a{
    color: rgb(238, 238, 238);
} */
