<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.sosial{
    padding: 5px 0;
    background-color: darkcyan;
}

.sosial ul li{
    display: inline-block;
    color: white;
    margin: 10px;
}

.boom{
    width: 80%;
    margin: 0 auto;
}

.boom:after{
    content: "";
    display: block;
    clear:  both;
}

header h1{
    float: left;
    padding: 20px 5px;
    display: inline-block;
    color: darkcyan;
}
header h1 a:hover {
    background-color: darkcyan;
    color: white;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 30px 25px;
    display: inline-block;
}
header ul li a:hover {
    background-color: darkcyan;
    color: white;
}
.active{
    background-color: darkcyan;
    color: white;
}
.spanduk{
    height: 60vh;
    background-image: url(webpic/blues.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.spanduk h2{
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px 35px;
    border: 3px solid white;
}
.spanduk:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 139, 139, ,8);
}
.info .help{
    padding: 50px 0;
}
section h3{
    text-align: center;
    color: darkcyan;
    margin-bottom: 15px;
}
section p{
    text-align: center;
    color: darkcyan;
    padding: 10px 0;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 35px;
    margin-bottom: 25px;
}
.box{
    color: darkcyan;
}
.box .col-3{
    width: 33%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.box .col-3 h4{
    margin: 20px 0;
}
footer{
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
}
.label{
    background-color: darkcyan;
    color: white;
    padding: 30px 0;
    margin-bottom: 70px;
}
.about h3{
    color: darkcyan;
}
.about p{
    text-align: center;
}
@media (max-width: 768px) {
    .boom{
        width: 90%;
    }
    header h1{
        text-align: center;
        float: none;
    }
    header ul{
        text-align: center;
        float: none;
    }
=======
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.sosial{
    padding: 5px 0;
    background-color: darkcyan;
}

.sosial ul li{
    display: inline-block;
    color: white;
    margin: 10px;
}

.boom{
    width: 80%;
    margin: 0 auto;
}

.boom:after{
    content: "";
    display: block;
    clear:  both;
}

header h1{
    float: left;
    padding: 20px 5px;
    display: inline-block;
    color: darkcyan;
}
header h1 a:hover {
    background-color: darkcyan;
    color: white;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 30px 25px;
    display: inline-block;
}
header ul li a:hover {
    background-color: darkcyan;
    color: white;
}
.active{
    background-color: darkcyan;
    color: white;
}
.spanduk{
    height: 60vh;
    background-image: url(webpic/blues.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.spanduk h2{
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px 35px;
    border: 3px solid white;
}
.spanduk:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 139, 139, ,8);
}
.info .help{
    padding: 50px 0;
}
section h3{
    text-align: center;
    color: darkcyan;
    margin-bottom: 15px;
}
section p{
    text-align: center;
    color: darkcyan;
    padding: 10px 0;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 35px;
    margin-bottom: 25px;
}
.box{
    color: darkcyan;
}
.box .col-3{
    width: 33%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.box .col-3 h4{
    margin: 20px 0;
}
footer{
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
}
.label{
    background-color: darkcyan;
    color: white;
    padding: 30px 0;
    margin-bottom: 70px;
}
.about h3{
    color: darkcyan;
}
.about p{
    text-align: center;
}
@media (max-width: 768px) {
    .boom{
        width: 90%;
    }
    header h1{
        text-align: center;
        float: none;
    }
    header ul{
        text-align: center;
        float: none;
    }
>>>>>>> 059684f17c76a332c1d9b476cc8dfb963ec96ec1
}
   
.clock{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
    background-color: darkcyan;
    padding: 20px 0;
}
#jam{
    color: white;
    text-align: center;
}
#menit{
    color: white;
}
#detik{
    color: white;
}
